.horizontal-tabs-content {
	display: block;
}
.vertical-tabs-content {
	display: block;
}
.primary-btn {
	color: var(--tertiary-color);
}

.filters {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.avatar-selected {
	border: 0.2rem solid var(--cta-color);
	border-radius: var(--br-circle);
}